
/*@font-face {
	font-family: "Sacramento-Regular";
	src: url("fonts/Sacramento-Regular".ttf);
	font-family: "Roboto-Light";
	src: url("Roboto-Light".ttf);
	font-family: "CFCrayons-Regular";
	src: url(CFCrayons-Regular.ttf);

}*/

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../image/inicio.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 800px;
	width: 100%;
}

.img {
	height: 650px;
}

.img .image {
	width: 100%;
	height: 450px;
}

.img .image img {
	width: 80%;
	height: 450px;
	border: 3px solid black;
	margin: 5% 10%;
}

.contenid {
	height: 650px;
	margin-top: 5%;

}

.contenid .bg-poem {
	background: rgba(12, 15, 15, 0.6);
	width: 80%;
	margin: 7% 8% 0 8%;
	padding:  3%;
	color: #fff;
}

.contenid .bg-poem h4 {
	font-family: "Homemade Apple";
	font-size: 22px;
}

.contenid .bg-poem p {
	font-family: "Satisfy";
	font-size: 20px;
}

.botones {
	width: 100%;
	margin: 3% 20% 0 0;
	text-align: center;
	padding-top: 12px;
}

.botones .buttons button {
	background: rgba(12, 15, 15, 0.2);
	border: 2px solid black;
	border-radius: 7px;
	margin: 4% 0;
	width: 20%;
	height: 40px;

}

.botones .buttons button:hover {
	background: #5D6D7E;
	border: 2px solid black;
}

.botones .buttons button a {
	text-decoration: none;
	color: #071322;
	font-size: 16px;
}

.botones .buttons button a:hover {
	color: #fff;
}

.botones .buttons .dedic {
	margin-left: 4%;
}



